@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* NAV BAR */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

img {
    width: 100%;

}

.logo { 
    width: 60vw;
    max-width: 300px;
}
/* Explicitly select children, despite no other li
   because its easier to understand at a glance. */
nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35vw;
}

/* Get Started */
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
    background-color:oldlace;
}

#hero input[type='email'] {
    width: 100%;
    padding: 5px;
    margin-top: 2em;
}

#hero input[type='submit'] {
    width: 100%;
    max-width: 80%;
    margin-top: 1em;
    height: 30px;
    border: 0;
    background-color: #f1c40f;
}

/* FEATURES */
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#features {
    margin-top: 50px;
}

.grid {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 80px;
}

.grid .icon {
    color: darkorange;
    display: flex;
    width: 20vw;
    justify-content: center;
}
.grid .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
}

/* How It Works */
#how-it-works {
    display: flex;
    justify-content: center;
}

#how-it-works iframe {
    width: 100%;
    max-width: 60%;
}

/* Pricing */
#pricing {
    margin: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0 10px;
}

.card div {
    background-color: lightgray;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
}

.card h2 {
    margin-top: 15px;
}

.card ol {
    margin-top: 15px;
    list-style: none;
    text-align: center;
    line-height: 1.75em;
}

.card button {
    margin: 15px 0;
    border: none;
    height: 40px; 
    padding: 0 20px;
    text-transform: uppercase;
    background-color: #f1c40f;
}